<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Connexion, meuf</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<main class="container mt-4">
    <div class="d-flex justify-content-center align-items-center"
         style="height: 100vh !important;">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <div class="form-floating my-2">
                <input type="email"
                       value="{{ last_username }}"
                       name="_username"
                       id="username"
                       class="form-control rounded-pill ps-5"
                       autocomplete="email"
                       required
                       autofocus
                       placeholder="laplusbelle@leplusbeausite.com"
                >
                <label for="username" class="ms-4">Email</label>
            </div>


            <div class="form-floating my-2">
                <input type="password"
                       name="_password"
                       id="password"
                       class="form-control rounded-pill ps-5"
                       autocomplete="current-password"
                       required
                       placeholder="maximecestleplusbeau"
                >
                <label for="password" class="ms-4">Password</label>
            </div>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}">

            <div class="text-center">
                <button class="btn btn-lg btn-primary rounded-pill px-4" type="submit">
                    Bah connecte toi meuf
                </button>
            </div>
        </form>
    </div>
</main>
</body>
</html>

