{% extends 'admin-base.html.twig' %}

{% block body %}
    <div {{ vue_component('admin/AdminDashboard', {
        avatarImg: avatarImg,
        avatarFormId: 'avatarForm',
        showreelImg: showreelImg,
        showreelThumbnailFormId: 'showreelThumbnailForm',
        showreelVideoFormId: 'showreelVideoForm',
        showreelVideoId: showreelVideoId,
        meufImg: meufImg,
        meufFormId: 'meufForm',
        cursorImgs: cursorImgs,
        cursorFormIds: ['cursorForm-0', 'cursorForm-1', 'cursorForm-2', 'cursorForm-3'],
        websiteConfigFormId: 'websiteConfigForm',
        websiteConfig: websiteConfig,
        favicon: favicon,
        isDefaultWebsiteConfig: isDefaultWebsiteConfig,
        socialItems: socialItems
    }) }}>
        {{ include('components/_spinner.html.twig') }}
    </div>

    {{ include('components/_modal-window.html.twig', {
        modalId: 'avatarForm',
        title: 'Changer mon avatar',
        body: include('components/_media-upload-form.html.twig', {form: avatarForm})
    }) }}

    {{ include('components/_modal-window.html.twig', {
        modalId: 'showreelThumbnailForm',
        title: 'Changer ma vignette de showreel',
        body: include('components/_media-upload-form.html.twig', {form: showreelThumbnailForm})
    }) }}

    {{ include('components/_modal-window.html.twig', {
        modalId: 'showreelVideoForm',
        title: 'Changer la video de mon showreel',
        body: include('components/_showreel-video-form.html.twig', {form: showreelVideoForm})
    }) }}

    {{ include('components/_modal-window.html.twig', {
        modalId: 'meufForm',
        title: 'Changer ma meuf',
        body: include('components/_media-upload-form.html.twig', {form: meufForm})
    }) }}

    {{ include('components/_modal-window.html.twig', {
        modalId: 'websiteConfigForm',
        title: 'Modifier mes metadata',
        body: include('components/_website-config-form.html.twig', {form: websiteConfigForm})
    }) }}

    {% for cursorForm in cursorForms %}
        {{ include('components/_modal-window.html.twig', {
            modalId: 'cursorForm-'~loop.index0 ,
            body: include('components/_media-upload-form.html.twig', {form: cursorForm})
        }) }}
    {% endfor %}


    {{ include('components/_modal-window.html.twig', {
        modalId: 'newSocialItemForm',
        title: 'Nouveau lien social',
        body: include('components/_social-item-form.html.twig', {form: newSocialItemForm})
    }) }}

    {% for socialItem in socialItems %}
        {{ include('components/_modal-window.html.twig', {
            modalId: 'socialItemForm-'~socialItem.id,
            body: include('components/_social-item-form.html.twig', {form: socialItemForms[socialItem.id]})
        }) }}
    {% endfor %}

{% endblock %}

