<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {{ include('shared/_metadata.html.twig') }}
    {#    <title>{% block title %}Welcome!{% endblock %}</title> #}
    <link rel="icon"
          href="{{ asset('/build/media/favicon/favicon.png') }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<main class="container mt-4" style="margin-bottom: 200px !important;">
    <div {{ vue_component('NavBar', {
        navigation: navigation.getPublicNavigation,
        socialItems: socialItems
    }) }}></div>
    {% block body %}{% endblock %}
</main>
</body>
</html>
