{{ form_start(form) }}
<div class="row offset-md-2">
    <div class="form-floating col-md-6 col-7 p-1 p-md-0">
        {{ form_help(form.media) }}
        {{ form_errors(form.media) }}
        {{ form_row(form.media, {
            'label': false,
            'attr': {
                'class': 'form-control rounded-pill bg-info text-white',
                'placeholder': placeholder|default('Add placeholder'),
                'type': type|default('text')
            }
        }) }}
    </div>
    <div {{ vue_component('components/Button', {
        label: 'upload',
        iconClassEnd: 'cloud-upload-fill'
    }) }} class="col-md-2 col-5 text-center p-1 p-md-0 mx-3"></div>
</div>
{{ form_end(form) }}