<div class="modal fade" id="{{ modalId }}" tabindex="-1" aria-labelledby="{{ modalId }}Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            {% if title is defined %}
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="{{ modalId }}Label">{{ title|raw }}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            {% endif %}

            {% if body is defined %}
                <div class="modal-body">
                    {{ body|raw }}
                </div>
            {% endif %}


            {% if footer is defined %}
                <div class="modal-footer">
                    {{ footer|raw }}
                </div>
            {% endif %}

        </div>
    </div>
</div>