{{ form_start(form) }}
{{ include('components/_form-field/_select-field.html.twig', {
    formRow: form.icon,
    label: 'réseau',
    placeholder: 'instagram',
}) }}
{{ include('components/_form-field/_text-field.html.twig', {
    formRow: form.link,
    label: 'lien',
    placeholder: 'https://...',
    type: 'url'
}) }}
<div {{ vue_component('components/Button', {
    label: 'upload',
    iconClassEnd: 'floppy-fill'
}) }} class="m-3"></div>
{{ form_end(form) }}