{{ form_start(form) }}

        {{ include('components/_form-field/_text-field.html.twig', {
            formRow: form.title,
            placeholder: 'Augusta Sarlin - Motion designer - Illustrator - Lyon',
            label: 'Titre'
        }) }}

<div class="py-3">
    {{ form_help(form.media) }}
    {{ form_errors(form.media) }}
    {{ form_row(form.media, {
        'label': 'Favicon',
        'attr': {
            'class': 'form-control rounded-pill bg-info text-white',
            'placeholder': 'Ajouter un favicon',
            'type': 'file'
        }
    }) }}
</div>

{{ include('components/_form-field/_select-field.html.twig', {
    formRow: form.seoImg,
    placeholder: 'Image du site',
    label: 'Image'
}) }}

        {{ include('components/_form-field/_text_area-field.html.twig', {
            formRow: form.description,
            placeholder: 'Description',
            label: 'Description'
        }) }}

<div {{ vue_component('components/Button', {
    label: 'enregistrer',
    iconClassEnd: 'floppy-fill'
}) }} class="my-3 text-end"></div>
{{ form_end(form) }}